.container {
  position: fixed;
  display: none;
  z-index: 1;
}
.visible {
  display: block;
}
.content {
  display: flex;

  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #62a3f5;
  color: #fff;
  border-radius: 20px;
  min-height: 20vh;
  width: 60vw;
  padding: 20px;
  box-shadow: 0 0 10px #000;
  z-index: 10;
}
.background {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  filter: opacity(0.5);
}
@media screen and (max-width: 600px) {
  .content {
    width: 70vw;
    height: 60vh;
  }
}
